body {
    margin: 0;
}

#nav {
    position: static;
    top: 0;
    display: flex;
    justify-content: left;
    background-color: rgb(107, 203, 112);
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.bold {
    font-weight: bolder;
}

#logo {
    width: 3em;
}

#title {
    margin: 0.5em;
}

#flowchart {
    border: solid black 3px;
}

.node {
    border: solid black 1px;
    display: inline-block;
    margin: 0.25em;
    padding: 0.25em;
}

.inputpad {
    padding: 0.5em;
}

#splash {
    width: 100vw;
    background-color: rgba(40, 40, 40, 0.7);
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
}

#butt {
    position: absolute;
    top: 0;
    background-color: lightgray;
    margin-top:200px;
    padding: 1em;
}

.hidden {
    display: none !important;
}

#paper-container {
    overflow: auto;
}