body {
    margin: 0;
}

#nav {
    position: static;
    top: 0;
    display: flex;
    justify-content: left;
    background-color: darkgray;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }  

.bold {
    font-weight: bolder;
}

#logo {
    width: 3em;
}

#title {
    margin: 0.5em;
}

#flowchart {
    border: solid black 3px;
}

.node {
    border: solid black 1px;
    display: inline-block;
    margin: 0.25em;
    padding: 0.25em;
}

.inputpad {
    padding: 0.5em;
}

#butt {
    position: absolute;
    top: 0;
}