<form action="/api/gpt-topic" method="post">
    <label for="pname">Topic:</label><br>
    <input class = "inputpad" type="text" id="pname" name="pname"><br>
    <input type="submit" value="Submit">
</form>

<form action="/api/gpt-args" method="post">
    <label for="aname">Argument:</label><br>
    <textarea class = "inputpad" type="text" id="aname" name="aname">stuff blfe kfkjr</textarea><br>
    <input type="submit" value="Submit">
</form>

<div id="flowchart">
{% for i in objects %}
<div id="{{i['id']}}" class="node">
    <p>{{i['text']}}</p>
</div>
{% endfor %}
</div>