<!DOCTYPE html>
<html lang = "en">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <div id="butt">
        <div style="text-align:center;padding-bottom:15px;padding-top:200px;">

            <img width = "500px" height = "300px" src="https://media.tenor.com/f8TIAN06ClwAAAAC/gunma-chan-gunma.gif" alt="Italian Trullti">

        </div>

        <h1 style="text-align:center;"></h1>
        <h2 style="text-align:center;">Loading Your Flowchart!</p>
        
        </div>
</html>
