<!DOCTYPE html>
<html lang = "en">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <body>
        <div style="text-align:center">

            <img width = "1000px" height = "600px" src="https://media.smallbiztrends.com/2023/01/what-is-chatgpt.png" alt="Italian Trullti">

        </div>
        
        </body>
    <body>

        <h1 style="text-align:center;"></h1>
        <h2 style="text-align:center;">Loading Your Flowchart!</p>
        
        </body>
</html>
